<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wky.cloud.dao.PaymentDao">

    <resultMap id="BaseResultMap" type="cn.wky.cloud.entity.Payment">
        <id property="id" column="id"/>
        <result property="serial" column="serial" jdbcType="VARCHAR"/>
    </resultMap>
    
    <insert id="addPayment" parameterType="Payment" useGeneratedKeys="true" keyProperty="id">
        insert into payment(serial) values(#{serial})
    </insert>

    <!-- 如果某一列允许为null，则必须指定jdbcType -->
    <select id="getPaymentById" parameterType="long" resultMap="BaseResultMap">
        select *
        from payment
        where id = #{id}
    </select>

</mapper>